pyttsx3==2.99
SpeechRecognition==3.8.1
pynput==1.8.1
PyAutoGUI==0.9.54
wikipedia==1.4.0
numpy==1.23.5
scikit-learn==1.2.2
joblib==1.5.2
pytesseract==0.3.13
pillow==9.5.0
opencv-python==4.8.1.78
opencv-contrib-python==4.8.1.78
PyGetWindow==0.0.9
psutil==7.1.2
pychrome==0.2.4
mediapipe==0.10.5
tensorflow==2.10.0
Eel==0.14.0
screen-brightness-control==0.9.0
pycaw==20181226
comtypes==1.4.13
pypiwin32==223
pywin32==311
PyAudio==0.2.14
sounddevice==0.5.3
matplotlib==3.7.5
requests==2.32.5
gevent==24.2.1
greenlet==3.0.3
